Materialy_z_lekcji/Tydzień_6_n8n/SCENARIUSZE/export_HTML_do_google_docs.json
{
  "name": "export HTML do google docs",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        180
      ],
      "id": "606dafbc-6acd-4813-9301-baa43da27255",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "file",
        "options": {
          "addBOM": true,
          "encoding": "utf8",
          "fileName": "content.html"
        }
      },
      "id": "f89d5051-92d6-4cfc-aa3b-a9d509719bac",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -800,
        80
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fileName }}",
        "options": {
          "mimeType": "text/html",
          "dataPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -40,
        80
      ],
      "id": "f055a275-a4ef-42c2-a8f9-7b86da45258e",
      "name": "readFile"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        220,
        140
      ],
      "id": "ac7d5d89-ebbe-4847-ab38-b9089f4b8f0a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.content }}",
        "name": "=_PUB {{ $json.title }} {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.gDriveURL.trim() }}",
          "mode": "url"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -820,
        560
      ],
      "id": "8fef3900-aaf6-4a90-94ea-726f69794f3b",
      "name": "createFile",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kyBDe9djaKd6KX7C",
          "name": "gdrive roman@ibb "
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        420,
        140
      ],
      "id": "112d5e7d-a512-4444-bbe3-479b0900dafe",
      "name": "Wait",
      "webhookId": "4e1a59b3-75eb-4ba9-b290-63d5c5129916"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.content }}",
        "destinationKey": "content",
        "options": {
          "noHeaderId": true,
          "tables": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -1240,
        80
      ],
      "id": "203249f7-780f-4143-b2c8-efe84944017d",
      "name": "mdToHtml"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "file",
        "options": {
          "fields": [
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        140
      ],
      "id": "844c1ca6-f21c-44f2-a73f-0c45b9a400bb",
      "name": "updateContentToDrive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kyBDe9djaKd6KX7C",
          "name": "gdrive roman@ibb "
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "927cf00b-a616-4aad-96bd-59c533c1655c",
              "name": "content",
              "value": "=<ul>\n<li>URL DYSKU: {{ $json.gDriveURL }}</li>\n</ul>\n\n{{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        80
      ],
      "id": "cab8c31b-fda9-4456-9c6d-af248cda57a5",
      "name": "setConetnt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d17f2b49-ee63-4b72-80be-be8dee2375fd",
              "name": "gDriveURL",
              "value": "=https://drive.google.com/drive/folders/1ObGBisk0j56rn93OFxYPd24t4Se6dElY",
              "type": "string"
            },
            {
              "id": "e23af554-c555-49b7-96ac-53b643968cab",
              "name": "content",
              "value": "# Łyżki do butów\n\n## Łyżki do butów - co to jest i do czego służy\n**Łyżka do butów** to niezwykle przydatne akcesorium, które znacząco upraszcza proces **zakładania obuwia**. Dzięki temu prostemu narzędziu możesz uniknąć uszkodzeń pięty oraz deformacji butów. **Łyżka** pozwala na łatwe wsunięcie stopy do buta, eliminując konieczność nadmiernego wyginania materiału czy schylania się.\n\nW sklepach znajdziesz łyżki w różnych długościach, na przykład 51 cm, 60 cm, co sprawia, że każdy może znaleźć model najlepiej dopasowany do swoich potrzeb. Najczęściej są one produkowane z:\n\n- metalu,\n- drewna.\n\nTakie materiały gwarantują ich trwałość oraz komfort użytkowania.\n\n**Łyżka do butów** jest szczególnie przydatna dla:\n\n- osób starszych,\n- kobiet w ciąży,\n- dzieci,\n- osób z problemami kręgosłupa.\n\nUmożliwia wygodne zakładanie obuwia bez zbędnego wysiłku i ryzyka kontuzji. Dzięki niej możesz cieszyć się większą niezależnością w codziennych czynnościach, co z pewnością poprawi jakość Twojego życia.\n## Metalowa łyżka do butów - trwałość i elegancja\nMetalowa łyżka do butów to produkt, który wyróżnia się **niesamowitą trwałością** oraz odpornością na wszelkie uszkodzenia. W przeciwieństwie do plastikowych odpowiedników, jej solidna konstrukcja zapewnia znacznie większą wytrzymałość. Wykonana z wysokiej jakości metalu, posiada **niklowaną powłokę**, która nie tylko chroni przed korozją, ale również nadaje elegancki wygląd.\n\nDzięki **ergonomicznemu kształtowi** i gładkiej powierzchni, korzystanie z metalowej łyżki znacznie ułatwia zakładanie obuwia, eliminując konieczność schylania się. To szczególnie cenne rozwiązanie dla osób starszych oraz tych z ograniczoną mobilnością. Regularne użycie łyżki zapobiega deformacjom zapiętków, co znacząco przedłuża żywotność butów.\n\n**Kluczowe właściwości metalowej łyżki do butów:**\n- **Materiał:** solidny metal z niklowaną powłoką, która chroni przed korozją,  \n- **Długość:** od około 51 cm do 64 cm, co zapewnia wygodę podczas użytkowania,  \n- **Szerokość łuku:** około 45 mm, idealnie dopasowana do różnych typów obuwia,  \n- **Dodatkowe cechy:** ergonomiczny kształt, łatwość w czyszczeniu oraz estetyczny design,  \n\nMetalowe łyżki do butów są niezwykle uniwersalne i doskonale sprawdzą się z każdym rodzajem obuwia — od codziennych modeli po eleganckie buty wizytowe. Ich solidna konstrukcja zapewnia długotrwałe użytkowanie, eliminując ryzyko uszkodzeń czy odkształceń. Dlatego to doskonała inwestycja w komfort oraz ochronę obuwia na wiele lat.\n## Długie łyżki do butów - komfort i wygoda zakładania obuwia\n**Długie łyżki do butów** to niezwykle praktyczne akcesoria, które znacznie upraszczają proces zakładania obuwia. Dzięki nim **nie musisz się schylać**, co znacząco podnosi **komfort** codziennych aktywności. To świetne rozwiązanie, szczególnie dla **osób z ograniczoną mobilnością**.\n\nDługie łyżki są szczególnie polecane dla:\n\n- **osób starszych**, które mogą mieć trudności z pochylaniem się,\n- osób z problemami kręgosłupa lub stawów,\n- osób po urazach czy operacjach, które ograniczają ich ruchomość.\n\nKorzystanie z długich łyżek ma także dodatkową zaletę – **chronią one buty przed deformacją**. Dzięki temu obuwie zachowuje swoją trwałość oraz estetyczny wygląd. Zazwyczaj są one wykonane z lekkiego plastiku lub naturalnego drewna, co zapewnia zarówno **wygodę**, jak i **wytrzymałość**.\n\nUżywanie długiej łyżki pozwala nie tylko na **zachowanie prawidłowego kształtu obuwia**, ale także **minimalizuje ryzyko uszkodzeń materiału** podczas zakładania. W rezultacie codzienne czynności stają się prostsze i bardziej komfortowe dla każdego użytkownika.\n## Zalety używania łyżek do butów dla codziennego wsparcia\n**Łyżki do butów** to niezastąpione akcesoria, które znacznie ułatwiają zakładanie obuwia, eliminując **potrzebę nadmiernego schylania się**. To szczególnie istotne dla osób z bólami kręgosłupa, wadami postawy czy ograniczoną mobilnością. Ograniczenie schylania się przynosi ulgę, zmniejszając napięcie mięśni oraz **ryzyko kontuzji**.\n\nUżywanie łyżek skutecznie chroni buty przed deformacją, co **przedłuża ich żywotność**, zwłaszcza w przypadku modeli skórzanych. Dzięki zachowaniu kształtu i estetyki przez dłuższy czas, obuwie staje się bardziej **ekonomiczne w użytkowaniu**.\n\nŁyżki dostępne są w różnych materiałach, co pozwala na ich dostosowanie do indywidualnych preferencji:\n- **plastik** – lekki i przystępny cenowo,\n- **metal** – trwały i elegancki,\n- **drewno** – naturalne, o klasycznym wyglądzie.\n\nRegularne korzystanie z tych akcesoriów to praktyczny sposób na **dbanie o zdrowie** oraz ochronę obuwia na co dzień.\n## Różne długości łyżek do butów i ich zastosowanie\n**Długości łyżek do butów** odgrywają kluczową rolę w zapewnieniu komfortu podczas zakładania obuwia. Wyróżniamy trzy główne typy: **krótkie**, **długie** oraz **regulowane łyżki**, które można dostosować do indywidualnych potrzeb każdego użytkownika.\n\n**Krótkie łyżki** są niezwykle poręczne i łatwe do przechowywania. Idealnie nadają się do codziennego użytku, zwłaszcza dla osób, które nie mają problemów z mobilnością. Ich kompaktowy rozmiar umożliwia szybkie wsunięcie stopy do buta, choć wymaga to lekkiego schylenia.\n\n**Długie łyżki** stanowią doskonałe rozwiązanie dla osób z ograniczoną sprawnością ruchową, seniorów oraz tych, którzy zmagają się z bólami pleców. Dzięki większej długości, umożliwiają **zakładanie butów bez potrzeby schylania się**, co znacząco zmniejsza ryzyko kontuzji i dyskomfortu. Często wykonane są z **trwałych materiałów**, takich jak metal czy wytrzymałe tworzywa sztuczne, co zapewnia ich długowieczność.\n\n**Regulowane łyżki do butów** to doskonała opcja dla tych, którzy cenią sobie elastyczność. Możliwość dostosowania długości sprawia, że idealnie pasują do różnych rodzajów obuwia oraz potrzeb użytkowników, co czyni je niezwykle praktycznymi.\n\nPrzy wyborze odpowiedniej długości łyżki warto zwrócić uwagę na kilka istotnych aspektów:\n\n- **łatwość zakładania butów**, co jest szczególnie ważne przy ograniczonej mobilności,\n- **ochrona kształtu obuwia** przed odkształceniem,\n- **komfort użytkowania** bez konieczności nadmiernego schylania się,\n- **trwałość materiału**, która powinna być dostosowana do częstotliwości używania.\n\nDłuższe modele znacząco ułatwiają codzienne czynności osobom starszym lub mającym problemy zdrowotne związane z kręgosłupem. Z kolei krótsze łyżki będą idealne dla osób aktywnych i młodszych, które nie potrzebują dodatkowego wsparcia podczas zakładania butów.\n\nWybór odpowiedniej długości łyżki nie tylko zwiększa **komfort noszenia obuwia**, ale również chroni je przed uszkodzeniami mechanicznymi, które mogą powstawać w wyniku niewłaściwego wkładania stopy.\n## Łyżki do butów dla osób z ograniczoną mobilnością i seniorów\nŁyżki do butów to znakomite wsparcie dla **seniorów** oraz osób z ograniczoną mobilnością. Ułatwiają one codzienne zakładanie obuwia, eliminując konieczność schylania się, co czyni cały proces bardziej komfortowym i bezpiecznym.\n\nWiele modeli dedykowanych tej grupie użytkowników wyposażonych jest w **elastyczną końcówkę**, która umożliwia łatwe wsunięcie stopy do buta, nie wywołując przy tym nadmiernego nacisku na materiał. Takie rozwiązanie znacząco redukuje ryzyko uszkodzenia obuwia oraz zapobiega jego rozciąganiu.\n\nCechy, które wyróżniają łyżki dla seniorów i osób z ograniczoną mobilnością, to:\n\n- **stabilna rączka** wykonana z drewna lub tworzywa, zapewniająca pewny chwyt,\n- **wytrzymały metalowy trzonek**, który gwarantuje długotrwałe użytkowanie,\n- **dostosowana długość** – wiele modeli jest wydłużonych, co zwiększa komfort podczas zakupu,\n- **lekka konstrukcja**, która ułatwia obsługę nawet przy osłabionej sile dłoni.\n\nKorzystanie z **łyżki do butów** nie tylko chroni obuwie przed deformacją, ale również wspiera **samodzielność** osób starszych oraz tych z problemami ruchowymi. To praktyczne narzędzie znacząco poprawia jakość życia, redukując ryzyko upadków podczas zakładania butów.\n\nPrzy wyborze odpowiedniej łyżki dla seniora czy osoby z ograniczoną mobilnością warto zwrócić uwagę na ergonomię uchwytu oraz obecność elastycznej końcówki. Te elementy są kluczowe dla zapewnienia komfortu i bezpieczeństwa podczas użytkowania.\n## Jak łyżki do butów chronią obuwie przed uszkodzeniami\nŁyżka do butów **chroni obuwie** przed deformacjami oraz uszkodzeniami, zwłaszcza w okolicy pięty. Dzięki swojemu przemyślanemu kształtowi, pozwala na łatwe wsunięcie stopy do buta, eliminując konieczność zginania tylnej części cholewki. To z kolei **minimalizuje ryzyko zgniatania i pękania materiału**, co ma kluczowe znaczenie, zwłaszcza w przypadku skórzanych modeli.\n\nUżywanie łyżki **przedłuża żywotność butów**. Pomaga uniknąć trwałych odkształceń oraz rozwarstwiania się szwów, a także chroni delikatne elementy wykończenia, które mogą być narażone na uszkodzenia podczas zakładania obuwia.\n\nFunkcje ochronne łyżek do butów można podsumować w następujący sposób:\n\n- **Ochrona pięty przed zgniataniem**, co zapobiega zagnieceniom i pęknięciom,\n- **Minimalizacja ryzyka uszkodzenia cholewki** poprzez równomierne rozłożenie nacisku przy wkładaniu stopy,\n- ułatwienie zakładania butów bez użycia siły, co zmniejsza naprężenia materiału,\n- zabezpieczenie przed deformacją tylnej części obuwia, która często szybko się zużywa.\n\nDzięki tym właściwościom, łyżka jest szczególnie polecana osobom noszącym droższe modele butów oraz tym, którzy pragną dłużej cieszyć się estetyką i funkcjonalnością swojego obuwia. Regularne korzystanie z niej to prosty sposób na **ochronę inwestycji** w wysokiej jakości obuwie.\n## Wybór łyżki do butów - na co zwrócić uwagę\nMateriał, z którego wykonana jest **łyżka do butów**, ma kluczowe znaczenie dla jej **wytrzymałości** oraz **wagi**. Oto najpopularniejsze opcje:\n\n- **Metalowe** modele, charakteryzujące się wysoką odpornością na uszkodzenia, idealne dla osób poszukujących trwałości, chociaż mogą być nieco cięższe,\n- **Drewniane** łyżki, łączące solidność z elegancją, co sprawia, że są nie tylko funkcjonalne, ale i estetyczne,\n- **Plastikowe** wersje, oferujące lekkość oraz szeroką gamę kolorów, co pozwala na dopasowanie do indywidualnych gustów.\n\n**Długość** łyżki również wpływa na komfort użytkowania:\n\n- **Krótsze modele**, sprawdzające się doskonale w codziennym użytkowaniu, ułatwiają szybkie zakładanie obuwia,\n- **Dłuższe** łyżki, umożliwiające zakładanie butów bez konieczności schylania się, co jest szczególnie istotne dla osób z problemami z kręgosłupem lub ograniczoną mobilnością.\n\n**Kształt** łyżki powinien być starannie wyprofilowany i lekko wklęsły. Taki design:\n\n- ułatwia wsuwanie stopy do buta,\n- minimalizuje ryzyko uszkodzenia pięty czy zagnieceń materiału.\n\nWarto unikać modeli z ostrymi krawędziami, które mogą zniszczyć obuwie.\n\n**Uchwyt** łyżki ma znaczący wpływ na komfort użytkowania. Powinien być:\n\n- **ergonomiczny**,\n- dobrze leżeć w dłoni,\n- zapewniać pewny chwyt.\n\nDodatkowym atutem mogą być haczyki lub specjalne zakończenia, które ułatwiają wyciąganie łyżki z buta po założeniu.\n\nWybierając odpowiednią łyżkę do butów, warto zwrócić uwagę na te kluczowe cechy. Dzięki nim można cieszyć się **wygodą** oraz skutecznie chronić obuwie przed deformacjami i uszkodzeniami.",
              "type": "string"
            },
            {
              "id": "34970e84-1eb7-41f7-a7f5-ac04668b91b1",
              "name": "title",
              "value": "Łyżki do butów",
              "type": "string"
            },
            {
              "id": "c2f1eff8-09d8-44e3-86a1-86f36122acc5",
              "name": "content_html",
              "value": "=<h1>Łyżki do butów</h1>\\n<h2>Łyżki do butów - co to jest i do czego służy</h2>\\n<p><strong>Łyżka do butów</strong> to niezwykle przydatne akcesorium, które znacząco upraszcza proces <strong>zakładania obuwia</strong>. Dzięki temu prostemu narzędziu możesz uniknąć uszkodzeń pięty oraz deformacji butów. <strong>Łyżka</strong> pozwala na łatwe wsunięcie stopy do buta, eliminując konieczność nadmiernego wyginania materiału czy schylania się.</p>\\n<p>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        180
      ],
      "id": "97da7fe0-9e7e-4042-b3f8-a099391d6820",
      "name": "gDriveLocationAndContent"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/content.html",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -440,
        -80
      ],
      "id": "7a8328ab-559d-4369-868a-a49655864b88",
      "name": "writeFileSharedFolder",
      "notes": "Ten node zapisuje plik do współdzielonego katalogu /files"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/content.html",
        "dataPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -440,
        80
      ],
      "id": "657dfb4f-ca40-470c-be5f-b16a273654d9",
      "name": "writeFileToDisk"
    },
    {
      "parameters": {
        "content": "## Zapis pliku na dysk\n\nW zależności od Twojej instalacji będziesz mógł zapisywać pliki w katalogu współdzielonym albo w katalogu samej aplikacji. \n\nW przypadku braku mapowania katalogu ścieżką dla pliku może być wszystko co jest w /home/node/",
        "height": 600,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -540,
        -320
      ],
      "typeVersion": 1,
      "id": "fbe4fb8d-0c17-4c7f-9633-7c9baa7c6ca6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "gDriveLocationAndContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "writeFileToDisk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readFile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createFile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "updateContentToDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mdToHtml": {
      "main": [
        [
          {
            "node": "setConetnt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateContentToDrive": {
      "main": [
        []
      ]
    },
    "setConetnt": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gDriveLocationAndContent": {
      "main": [
        [
          {
            "node": "createFile",
            "type": "main",
            "index": 0
          },
          {
            "node": "mdToHtml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeFileToDisk": {
      "main": [
        [
          {
            "node": "readFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72e00da2-0821-4f24-bcc8-a6c0e1c9d857",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8794a4f970040d09c64040698c632aefaa9a59e97e60424e4b5671338351753"
  },
  "id": "VsWaLzN4f8QI9B8R",
  "tags": [
    {
      "createdAt": "2025-04-23T17:43:48.992Z",
      "updatedAt": "2025-04-23T17:43:48.992Z",
      "id": "2CCYmO24uPblhTtY",
      "name": "sensai"
    },
    {
      "createdAt": "2025-05-15T11:30:24.567Z",
      "updatedAt": "2025-05-15T11:30:24.567Z",
      "id": "vEOXPr8KZp3rtAHw",
      "name": "google docs"
    }
  ]
}
