Materialy_z_lekcji/Tydzień_6_n8n/SCENARIUSZE/SensaiBot_slack.json
{
  "name": "SensaiBot slack",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=Użytkownik nazywa się {{ $json.real_name }}. Dzisiaj jest: {{ $now.format('yyyy-MM-dd HH:MM') }}. \nNazywasz się Sensai. Jesteś częścią systemu komunikatora Telegram. Jesteś pomocnym asystentem. \n\n<zasady odpowiedzi>\n- Najpierw zawsze korzystaj z bazy wiedzy i narzędzi\n- Jeżeli nie korzystasz z narzędzi to pisz, że korzystasz z własnej wiedzy modelu\n</zasady odpowiedzi>\n- getDomainVisibility - to narzędzie sprawdza widoczność domeny w wynikach wyszukiwania. Gdy użytkownik zapyta o widoczność podaj mu wszytkie otrzmane dane i je podsumuj.\n\n<narzędzia>\n\npobierz_strone - służy do pobieranaia zawartośc ze stron www. Jeżeli użytkownik poprosi o inny rodzaj stron (np. google docs), to niestety musisz odprawić go z kwitkiem. Tylko grzecznie.\nuser_documents - Contains all the user's documents that you can check for context to answer user questions. Jeżeli skorzystasz z user_documents to daj znać o tym użytkownikowi.\n\n</narzędzia>\n\n<baza wiedzy>\n\n</baza wiedzy>\n\n<formatowanie>\nZachowuj się jak komunikator TELEGRAM. Formatuj odpowiedź stosując markdown. Ale nie używaj rozpoczęcia ``` dla tej odpowiedzi.\n</formatowanie>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2040,
        -180
      ],
      "id": "cd105b7c-62bc-47e9-84b6-f078b97d6364",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2480,
        180
      ],
      "id": "7b5d57b0-c76d-42ef-8c2b-928d84f74dd4",
      "name": "4.1 Mini",
      "credentials": {
        "openAiApi": {
          "id": "hx6ZRPieOWcRc1Km",
          "name": "Nimblio OpenAi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "738db7c2-0813-424b-bdcf-422e6f465967",
              "leftValue": "={{ $json.user }}",
              "rightValue": "U08FPL1SMMK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2920,
        -480
      ],
      "id": "4ebc05b3-cd19-4931-b23d-04ff878f63b5",
      "name": "stopBot"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1ad205fe-969c-40cf-822c-6602b64d83c3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2380,
        -480
      ],
      "id": "1717b037-2f98-4908-b3b6-d15a1d919f25",
      "name": "selectMessageType"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a102884e-4033-4129-8628-4e832818d5b7",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "UBLMWCS2X",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2640,
        -140
      ],
      "id": "6bd65646-e0e6-47d7-b47f-b329035b134d",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b482109c-4b5a-4d76-b725-582e729c41ff",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "=file_share",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "038154ed-b3a1-4c4a-abc1-ae99b9250d0a",
              "leftValue": "={{ $json.files[0].filetype }}",
              "rightValue": "m4a",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2660,
        -480
      ],
      "id": "801c5318-6106-4fd9-9ea5-c1c557ca72ff",
      "name": "filterAudioMessage"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user }}",
        "sessionTTL": 604800,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -2320,
        200
      ],
      "id": "4815db04-46b5-4c46-9563-f32ce6d7116f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "gSp9A1y0THj7FNNK",
          "name": "redis_2"
        }
      }
    },
    {
      "parameters": {
        "description": "Skorzystaj z tego narzędzia, żeby pobrać zawartość strony internetowej oraz jej nagłówki z treśći. \n\nMusisz przesłać adres URL strony.",
        "workflowId": {
          "__rl": true,
          "value": "8oqxXACMjEvsZUHB",
          "mode": "list",
          "cachedResultName": "naglowki i content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $fromAI('url', 'this website url address') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -2140,
        220
      ],
      "id": "e0536e0f-f46a-4624-8096-cef8a468ac0a",
      "name": "pobierz_strone"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "39787766-bc01-4ca3-864c-0223d878e302",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1420,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "hx6ZRPieOWcRc1Km",
          "name": "Nimblio OpenAi"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0a4acb16-09b4-40a7-b25b-d6c13d351c98",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -1880,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "hx6ZRPieOWcRc1Km",
          "name": "Nimblio OpenAi"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "sensai-qdrant",
          "mode": "list",
          "cachedResultName": "sensai-qdrant"
        },
        "options": {}
      },
      "id": "d947271e-3ff3-45f1-97a5-942a5e24dbb7",
      "name": "Moja Wiedza1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -1860,
        300
      ],
      "credentials": {
        "qdrantApi": {
          "id": "f8cKg7ZkXpx29yyT",
          "name": "qdrant free tier"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions. If no data in docunts just say \"Nie posiadam wiedzy na ten temat\"",
        "topK": 5
      },
      "id": "b6a93534-a699-41c8-90b1-e3d86c91e56d",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -1740,
        60
      ]
    },
    {
      "parameters": {
        "trigger": [
          "message",
          "file_share",
          "app_mention",
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "D08SBCJAC6A",
          "mode": "id"
        },
        "options": {
          "resolveIds": true,
          "userIds": [
            "U08SBCJ82T0"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -2960,
        -140
      ],
      "id": "a7aef4c8-371f-4759-a677-6d40d6c2abf0",
      "name": "Slack Trigger",
      "webhookId": "7566a4bf-d869-48a9-83bd-6f7e63ef3b76",
      "credentials": {
        "slackApi": {
          "id": "m9hH0gBxR44iLxvF",
          "name": "sensaiBOT"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getProfile",
        "user": {
          "__rl": true,
          "value": "={{ $json.user }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2400,
        -140
      ],
      "id": "039dcd41-daef-4b8e-ac5c-5ddd4e83a46f",
      "name": "Slack",
      "webhookId": "095f6b4f-a732-4ede-809c-2173d592bf06",
      "credentials": {
        "slackApi": {
          "id": "m9hH0gBxR44iLxvF",
          "name": "sensaiBOT"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1440,
        -180
      ],
      "id": "65895e1b-2e8d-452b-99ff-e6729378ae73",
      "name": "Slack1",
      "webhookId": "acd84f91-4324-4650-a711-baf39519ea18",
      "credentials": {
        "slackApi": {
          "id": "m9hH0gBxR44iLxvF",
          "name": "sensaiBOT"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get domain visibility i search engine result page.",
        "workflowId": {
          "__rl": true,
          "value": "O0jWmkmx5ztt2wUD",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "domain": "={{ $fromAI('domain','only domain, no http, https, no path. for example exampledomain.com') }}"
          },
          "matchingColumns": [
            "domain"
          ],
          "schema": [
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1880,
        40
      ],
      "id": "56de0384-29af-40e2-a661-eab0734cc522",
      "name": "getDomainVisibility"
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "user": "UBLMWCS2X",
          "type": "message",
          "ts": "1747318502.382089",
          "client_msg_id": "e5ebdd3d-303b-4bd8-90f0-1df89a6b3bf5",
          "text": "Jaka jest widoczność domeny <http://senuto.com|senuto.com>",
          "team": "TBLMVKBTM",
          "thread_ts": "1747317558.617329",
          "parent_user_id": "U08SBCJ82T0",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "m5XjK",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Jaka jest widoczność domeny "
                    },
                    {
                      "type": "link",
                      "url": "http://senuto.com",
                      "text": "senuto.com"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "D08SBCJAC6A",
          "event_ts": "1747318502.382089",
          "channel_type": "im",
          "user_resolved": "roman"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "stopBot": {
      "main": [
        []
      ]
    },
    "selectMessageType": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterAudioMessage": {
      "main": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pobierz_strone": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Moja Wiedza1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Moja Wiedza1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDomainVisibility": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "WjE4z6jOteKLEBf3"
  },
  "versionId": "1594fa96-fd94-4a08-b642-5f03b9695a6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8794a4f970040d09c64040698c632aefaa9a59e97e60424e4b5671338351753"
  },
  "id": "8D512Ew7K5zIgDWW",
  "tags": [
    {
      "createdAt": "2025-04-23T17:43:48.992Z",
      "updatedAt": "2025-04-23T17:43:48.992Z",
      "id": "2CCYmO24uPblhTtY",
      "name": "sensai"
    }
  ]
}