Materialy_z_lekcji/Tydzień_6_n8n/SCENARIUSZE/tool_senuto_domain_visibility.json
{
  "name": "_tool seunto domain visibility",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -200
      ],
      "id": "c0cb7e34-98d2-472e-a456-c255ac14ecae",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "742fee4c-d3e3-43a0-813d-2ca88eebb290",
              "name": "domain",
              "value": "senuto.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "ebde49e9-a866-4c7a-bc5e-6db31b10fb15",
      "name": "input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d3Mkpn1nzvFvo3av",
          "mode": "list",
          "cachedResultName": "_senuto getToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        140,
        0
      ],
      "id": "10474664-d1f7-46a1-8963-a5dc25112dd4",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "url": "https://api.senuto.com/api/visibility_analysis/reports/dashboard/getDomainStatistics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('input').item.json.domain }}"
            },
            {
              "name": "fetch_mode",
              "value": "subdomain"
            },
            {
              "name": "country_id",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.senuto_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "7901a37f-7495-4e39-b999-f5a09ce27a30",
      "name": "getDomainVisibility"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e9c2f09-4a98-4d76-9fba-0fcb4087eb78",
              "name": "data",
              "value": "={{ $json.data.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ],
      "id": "b0078684-5dc8-4639-a433-f4290918c004",
      "name": "output"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "domain"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        140
      ],
      "id": "7e18014c-24c1-4224-8714-954bf6c0379a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "domain": "senuto.com"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "getDomainVisibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDomainVisibility": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b24bd922-cd4f-4ab5-aee0-bfe7d94d5918",
  "meta": {
    "instanceId": "e8794a4f970040d09c64040698c632aefaa9a59e97e60424e4b5671338351753"
  },
  "id": "O0jWmkmx5ztt2wUD",
  "tags": []
}